server:
  # Puerto principal del Monolito
  port: 8080

spring:
  application:
    name: GhostFollowCore

  servlet:
    multipart:
      max-file-size: 100MB
      max-request-size: 100MB

  # ----------------------------------------
  # 1. CONFIGURACIÓN DE BASE DE DATOS
  # ----------------------------------------
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/ghostfollow_db}
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        jdbc:
          batch_size: 500
          order_inserts: true
          order_updates: true

  # ----------------------------------------
  # 2. CONFIGURACIÓN DE CORREO
  # ----------------------------------------
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail.smtp.auth: true
      mail.smtp.starttls.enable: true

  main:
    log-startup-info: false

